<!DOCTYPE html>
 <html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% include 'layout_header.html.twig' %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% include 'layout_footer.html.twig' %}
        {% endblock %}
    </body>
 </html>
